

/* ==========================================================================
 Custom styles
========================================================================== */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


.content{
	height: 1000px;
  margin: 15px;
}

.parallax-window{
	height: 300px;
}

body {
  background: #fff;
  font-family: sans-serif;
  color: #4f6996;
  text-align: center;
}

li .active{
  font-style: strong;
}

.navbar-header{
  background: #fff;
  color: #4f6996;
  }

.navbar-inverse .navbar-collapse{
    border-color: #fff;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-toggle{
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #4f6996;
}

.navbar-inverse .navbar-nav>li>a {
    color: #4f6996;
    text-align: right;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #4f6996;
}

.navbar-brand{
  font-size: 40px;
}

hgroup { 
  position: absolute;
  top:20%;
  width:85%;
  height:56px; 
}

.tagline{
  width: 100%;
}


hgroup h1 {
  opacity:0; 
  position:absolute; 
  width:100%; 
  margin:0px;
  font-size:84px; 
  font-size:7rem;     
  line-height:40px; 
  line-height:4rem;
}

hgroup h1 span { 
  position: relative; 
}

.start {
  z-index: 0; 
}
.line-break { 
  height: 0px; 
  overflow:hidden; 
}

.parallax-window{
  border-width: 10px 0 10px 0;
}

img {
  border-width: 10px 0 10px 0;
  margin: 15px;
}

#testimonial-left{
  border-radius: 50%;
}

h2 #testimonial-left{
  font-size: 30px;

}

#testimonial-center{
  border-radius: 50%;
}

#testimonial-right{
  border-radius: 50%;
}

#teasers{
    border-width: 10px 0 10px 0;

}

#contact-form {
  text-align: left;
  padding-left: 15px;

}

/* ---- isotope ---- */
.grid {
  margin: 0 auto;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  margin: 5px;
  padding: 10px;
  background: #4f6996;
  color: #262524;
}
.element-item > * {
  margin: 0;
  padding: 0;
}
/* ---- custom ---- */

select{
  margin:60px 0 40px 200px; 
  width: 250px;
  height: 45px;
  background: #4f6996
  color: #fff;
  left-padding: 15px;
  vertical-align: left;
  position: relative;
  float: left;
}

/*Card Flip*/

#first-card div {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front {
  z-index: 0;
  background: none;
  font-size: 40px;
}
.back {
  z-index: 1;
  /*background-image: url(http://fillmurray.com/300/250);*/
  background-size: cover;
  background-position: center;
  font-size: 10px;
  -webkit-transform: rotate(360deg) scaleX(-1);
  -moz-transform: rotate(360deg) scaleX(-1);
  -o-transform: rotate(360deg) scaleX(-1);
  transform: rotate(360deg) scaleX(-1);
}
.flipped {
  -webkit-transform: rotate(360deg) scaleX(-1);
  -moz-transform: rotate(360deg) scaleX(-1);
  -o-transform: rotate(360deg) scaleX(-1);
  transform: rotate(360deg) scaleX(-1);
}

.flipped .back{
  background-image: none;
  -webkit-transform: rotate(360deg) scaleX(-1);
  -moz-transform: rotate(360deg) scaleX(-1);
  -o-transform: rotate(360deg) scaleX(-1);
  transform: rotate(360deg) scaleX(-1);
}

#first-card {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

#memory {
/*  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;*/
}











